* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #0B2434;
    display: flex;
    align-items: center;
}

.app-container {
    background-color: #F5F5F5;
    width: 900px;
    height: 900px;
    margin: 59px 60px;
    border-radius: 10px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5em;
}

header {
    text-align: center;
    letter-spacing: 0.5px;
}

header > h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #2B283A;
    margin: 0;
}

header > p {
    font-weight: 400;
    font-size: 40px;
    color: #4A4E74;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dice-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
    padding: 0;
    margin: 1em 0;
}

.dice {
    width: 125px;
    height: 125px;
    border-radius: 5px;
    border: 0 solid #2B283A;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 15%);
    background-color: white;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.dice:hover {
    background-color: #e1e1e1;
}

.dice.frozen {
    background-color: #59E391;
}

.dice.frozen:hover {
    background-color: #99e1b1;
}

.roll-button {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background-color: #5035FF;
    border: 0 solid #2B283A;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 15%);
    font-weight: 700;
    color: white;
    font-size: 35px;
    margin-top: 1.5em
}

.roll-button:hover {
    background-color: #bcb4ff;
}